@charset "UTF-8";

/*configuração para celulares*/


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #d6d1d1;
    height: 100vh;
    position: relative;
   
  
}

header{
    background-color: rgba(2, 29, 2, 0.973);

}
header h1{
    padding: 8px;
    text-align: center;
    color: white;
    text-shadow: 10px 5px 8px black;
    font-family: 'Times New Roman', Times, serif;
     
}

span{
   color: white;
   position: absolute;
   top: 20px;
   right: 20px;
   
  
}
span#burguer:hover{
    background-color: rgba(255, 255, 255, 0.527);
    cursor: pointer;



}
menu{
    text-align: center;
    display: none;
}
menu > ul > li> a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.089);
}
menu > ul > li> a:hover{
    background-color: rgba(3, 65, 3, 0.411);
}


main{
    width: 100vw;
    background-color: white;
   
}
section#img p{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 2em;
    padding-top: 60px;
    color: rgb(232, 236, 234);
    font-weight: 800;
   
    background-color: rgba(0, 0, 0, 0.541);
    text-align: center;
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
  
  
}


section.imagem{
    margin-top: 1px;
    height: 300px;
 
   
}


    section#img{
   
  
        background-repeat: no-repeat;
        
        background-image: url(../imagens/woman-5653501_1280.jpg);
        background-size:cover;
        background-position: right top;
        background-attachment: scroll;

        height: 300px;
        position: relative;

        
      

     
      
      
      
       
   
    }

   



