@charset "UTF-8";

/*configuração para celulares*/





*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #d6d1d1;
    height: 100vh;
    position: relative;
   
  
}

header{
    background-color: rgba(2, 29, 2, 0.973);

}
header h1{
    padding: 8px;
    text-align: center;
    color: white;
    text-shadow: 10px 5px 8px black;
    font-family: 'Times New Roman', Times, serif;
     
}

span{
   color: white;
   position: absolute;
   top: 20px;
   right: 20px;
   
  
}
span#burguer:hover{
    background-color: rgba(255, 255, 255, 0.527);
    cursor: pointer;



}
menu{
    text-align: center;
    display: none;
}
menu > ul > li> a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.089);
}
menu > ul > li> a:hover{
    background-color: rgba(3, 65, 3, 0.411);
}
header h1{
    text-shadow: 3px 3px 3px black;
}


main{
    width: 100vw;
    background-color: white;
   
}
section#img p{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 2em;
    padding-top: 60px;
    color: rgb(232, 236, 234);
    font-weight: 800;
   
    background-color: rgba(0, 0, 0, 0.541);
    text-shadow: 9px 9px 9px black;
    text-align: center;
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
  
  
}
section#texto{
   
    text-align: center;
  
    background-color: rgb(20, 37, 27);
    color: rgb(188, 212, 188);
   
}
section#texto p {
    max-width: 500px; /* define largura do texto */
    margin: auto;     /* centraliza */
    font-size: 1.2em;
    line-height: 1.5em;
    padding-top: 5px;
}


section.imagem{
    margin-top: 1px;
    height: 300px;
 
   
}


    section#img{
        background-repeat: no-repeat;
        background-image: url(../imagens/woman-5653501_1280.jpg);
        background-size:cover;
        background-position: right top;
        background-attachment: scroll;
        height: 300px;
        position: relative;
    }
    section#cursos {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 colunas iguais */
      
        padding: 10px;
        justify-items: center; 
    }
    
    section#cursos button{
        
        margin-top: 20px;
        background-color:  rgb(20, 37, 27);
        padding: 10px;
        color: white;
        border-radius: 10px;
        text-transform: uppercase;
        width: 180px;

    }
    /*cores dos nomes dos botoes*/
    section#cursos button.um{
        color: rgb(199, 250, 13);

    }
    section#cursos button.dois{
        color: blueviolet;
    }
    section#cursos button.trez{
        color: pink;
    }
    section#cursos button.qua{
        color: rgb(20, 238, 20);
    }

    .link-curso {
        max-height: 0;
  overflow: hidden;
  display: block;
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 0;
  opacity: 0;
      
      }
      .link-curso.show {
        max-height: 40px; /* altura suficiente para o link aparecer */
        padding: 5px 0;
        opacity: 1;
      }
      



